*{
	box-sizing: border-box;
}

body{
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	text-align: center;
	background-image: url("../img/body.png"); 
}
header{
	height: 400px;
	width: 100%;
	/*background-color: #BBDEFB;*/
	background-image: url("../img/LG5.png");
	background-repeat: no-repeat;
	border: 1px black solid;
	margin-bottom: 5px;
}

header h1{
	font-size: 60px;
	padding: 200px;
}

nav{
	height: 50px;
	width: 100%;
	border: 1px black solid;
	background-color: #FFAB00;
	margin-bottom: 5px;
	text-align: center;
	padding-right: 300px;
	padding-top: 8px;
}

.navUno{
	float: right;
	margin: 5px;
	padding: 5px;
	height: 40px;
}

a{
	text-decoration: none;
}

article{
	height: 450px;
	width: 100%;
	background-color: #FFAB00;
	margin-bottom: 5px;
	border: 1px black solid;
}

.contenido{
	margin: 30px;
}

.biografia{
	padding:10px;
	margin: 20px;
	text-align: left; 
}
.retrato{
	float: left;
	padding: 5px;
}

section{
	height: 800px;
	width: 100%;
	background: #FFAB00;
	margin-bottom: 5px;
	border: 1px black solid;
}

.hola1{
	height: 1150px;
}

.peli{
	width: 32%;
	height: 345px;
	background-color: pink;
	border: 1px black solid;
}

.peli1{
	float: left;
	margin: 5px;
	background-image: url("../img/peli1.jpg");
	background-repeat: no-repeat;
	background-size: 100%; 
}

.peli2{
	float: left;
	margin: 5px;
	background-image: url("../img/peli2.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.peli3{
	float: left;
	margin: 5px;
	background-image: url("../img/peli3.jpg");
	background-repeat: no-repeat;
	background-size: 100%; 
}

footer{
	height: 50px;
	width: 100%;
	background: #FFAB00;
	margin-bottom: 5px;
	border: 1px black solid;
}
